/* Mobile version */

/* Information

margin / padding: 0px 0px 0px 0px; top - left - bottom - right 


*/

*{
	font-family: 'viga', cursive;
	letter-spacing: 1px;
	font-size: 12px;
}

.navbar{
	position: relative;
	z-index: 99;
}

.jumbotron{
	height: 700px;
}

#btn-primary{
	background: #007bdf;
	color: #fff;
	text-align: center;
	border-radius: 5px;
	transition: 0.3s;
}

.about-page{
	margin-top: 40%;
}

#header{
	background: url(../img/programming-social-dark-patterns-1.jpg);
	background-size: cover;
	background-attachment: fixed;
}

.navbar-toggler:hover{
	border: 1px solid #fff;
}

.section-img-profile{
	text-align: center;
	transition: 0.3s;
	margin: 50px auto;
}

.page-about{
	padding: 10px auto;
}

.profile-img{
  width: 200px;
  height: 210px;
  border: 5px solid #eaeaea;
  border-radius: 100%;
  padding: 0px;
  background: #fff;
  transition: 0.8s;
  margin: -50px 0px 50px 0px;/* top - left - bottom - right */
  box-shadow: 0px 0px 10px 2px #333;

}

.profile-img:hover{
  border: 5px solid #333;
  box-shadow: 0px 0px 10px 15px #eaeaea;
  transition: 0.3s;
  cursor: pointer;
}

.title-about{
	text-align: center;
	margin: ;
	transition: 0.3s;
	font-weight: 800;
	color: #fff;
	line-height: 1.5;
}

.text-bio {
	padding: 5px 8px 5px 8px;
	text-align: center;
	transition: 0.3s;
	font-weight: 400;
	color: #fff;
	font-size: 20px;
}

.row{
	padding: 0px 50px 0px 50px;
	text-align: center;
}


ul li .nav-link{
	text-transform: ;
	font-weight: 400;
	margin: 0px 0px 10px 0px;
}

.navbar-dark .navbar-nav .nav-link{
	color: #fff;
	transition: 0.2s;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #fff;
	transition: 0.2s;
}

.mod-txt{
	font-weight: bold;
	background: #333;
	color: #fff;
	padding: 1px 6px 1px 6px;
	border-radius: 5px;
	font-size: 18px;
}


.text-title-page{
	text-transform: uppercase;
	font-weight: 800;
	text-align: left;	
	margin: 50px 30px 80px 30px;
	transition: 0.4s;
}

.text-page{
	margin: -40px -30px 10px -30px; 
	text-align: justify;
	font-size: 14px;
	font-family: sans-serif;
}

.mod-txt{
	font-weight: bold;
}

.page-section{
	margin-bottom: 100px;
	margin-top: 100px;
}


#Skill{
	margin-top: -10px;
}

#Skill .text-title-page{
	margin-top: -40px;
}


.page-skill{
	background: #eaeaea;
	padding-top: 50px;
	padding-bottom: 50px;
}

.text-skill-progress{
	font-weight: 600;
	font-size: 14px;
}

.skill-progress{
	margin: 10px -30px 60px -30px;
	border: 1px solid #007bff;
	height: 25px;
	transition: 0.4s;
}


.card{
	background: red;
	margin: 10px 10px 10px 10px;
	color: #fff;
	transition: 0.5s;
	transition: 0.6s;
}

.card{
	box-shadow: 0px 0px 10px 1px #007bff;
	cursor: pointer;
}

.card:hover{
	box-shadow: 4px 4px 2px 3px #007bff;
	transition: 0.2s;
}

.text-header{
	color: #000;
	font-size: 18px;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: 300;
	margin-left: -40px;
	margin-right: -40px;
	background: #eaeaea;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 10px 10px 10px 10px;
}

.card-text{
	color: #333;
	text-align: justify;
}

.page-experience .text-title-page{
	margin-bottom: 30px;
}

.card-title{
	text-align: center;
	font-size: 16px;
	margin: 20px 0px 20px 0px;
}

.card-title-position{
	margin-bottom: 10px;
	font-size: 16px;
}

.card-title-duration{
	margin-top: -10px;
	margin-bottom: 40px;
	font-size: 14px;
}

.card,
.text-header,
.card-title, 
.card-text{
	transition: 0.5s;
}

.card-body{
	padding: 0px 10px 0px 10px;

}

.job-desc{
	text-align: left;
	color: #333;
	padding-bottom: 10px;
}

.footer{
	background: #eaeaea;
	height: 50px;
	padding: 50px 50px 50px 50px;
	text-align: center;
}

.contact-page{
	padding: 50px 0px 50px 0px;
	margin: 50px 0px 50px 0px;
	text-align: center;	
	background: #eaeaea;
}

.contact{
	margin: 30px 0px 30px 0px;
}

.mail-contact{
	width: 50px;
	height: 50px;
	margin-top: 0px;
	margin-bottom: -20px;
}

.txt-contact{
	margin-top: 30px;
	font-size: 14px;
	text-align: center;
}

.list-job-desc{
	padding-top: 10px;
}

.footer{
background: #fff;
	height: 50px;
	padding: 0px 0px 50px 0px;
	text-align: center;
}

/* Desktop version */

@media (min-width: 1024px) {
	.jumbotron{
		height: 800px;
	}

	.about-page{ 
		margin-top: 10%; 
	}

	#btn-primary{
		background: #007bdf;
		color: #fff;
		transition: 0.3s;
		border-radius: 5px;
	}

	#btn-primary:hover{
		color: #fff;
		transition: 0.2s;
		border-bottom: 0px solid #007bdf;
		margin-bottom: 0px;
	}


	#Skill{
		background: #eaeaea;
	}

	.section-img-profile{
		text-align: center;
		transition: 0.5s;
		margin: 0px auto;
	}


	.profile-img{
		width: 180px;
		height: 200px;
		border-radius: 20px;
		margin: 22px -50px 20px 80px;
	}

	.title-about{
		text-align: center;
		transition: 0.3s;
		margin: 20px 50px 20px 50px;
		font-weight: 800;
		text-shadow: 2px 2px 2px #333;
	}

	.text-bio {
		padding: 0px 50px 10px 50px;
		margin: 20px 0px 20px 0px;
		text-align: center;
		font-weight: 400;
		transition: 0.3s;
		text-transform: ;
		font-size: 20px;
	}

	.navbar-dark .navbar-nav .nav-link{
		color: gray;
		transition: 0.2s;
		margin-bottom: 8px;
	}

	.navbar-dark .navbar-nav .nav-link:hover{
		color: #fff;
		transition: 0.2s;
		border-bottom: 4px solid #007bdf;
		margin-bottom: -8px;

	}

	ul li .nav-link{
		text-transform: uppercase;
		font-weight: 400;
		margin-left: 15px;
	}

	.text-title-page{
		text-transform: uppercase;
		font-weight: 800;
		text-align: center;	
		margin: 30px 0px 80px 0px;
		transition: 0.4s;
	}

	.page-about .text-title-page{
		padding: 30px 20px 30px 20px;
		margin-bottom: 20px; 
	}

	.page-about .text-page{
		margin: 20px 20px 10px 20px; 
		text-align: justify;
	}

	.mod-txt{
		font-weight: bold;
		background: #fff;
		color: #333;
		padding: 1px 6px 1px 6px;
		/*font-size: 24px;*/
	}

	#Skill{
		margin-top: -10px;
	}

	.page-skill{
		background: #eaeaea;
		padding-top: 10px;
		padding-bottom: 40px;
	}

	.page-section{
		margin-bottom: 100px;
	}

	.row{
		padding: 0px 70px 0px 70px;
		text-align: center;
	}

	.text-skill-progress{
		font-weight: 800;
	}

	.skill-progress{
		margin: 10px 0px 60px 0px;
		border: 1px solid #007bff;
		height: 25px;
		transition: 0.4s;
	}

	.value-skills{
		font-weight: 100;
		font-size: 13px;
		padding: 8px 8px 8px 8px;
	}

	.card,
	.text-header,
	.card-title, 
	.card-text{
		transition: 0.5s;
	}

	.card{
		width: 450px;
		background: ;
		margin: 50px auto;
		color: #fff;
		transition: 0.5s;
	}

	.text-header{
		color: #000;
		text-transform: uppercase;
		background: #eaeaea;
		font-weight: 600;
		font-size: 20px;
		text-align: left;
		margin-right: 20px;
		margin-left: 20px;
		margin-bottom: -40px;
		margin-top: 50px;
		padding: 15px 15px 15px 15px;
		border-radius: 20px;
	}

	.card-text{
		color: #333;
		text-align: justify;
		font-size: 15px;
	}

	.card-body{
		padding: 50px 50px 50px 50px;
	}

	.job-desc{
		text-align: justify;
		color: #333;
	}

	.card-title-position,
	.card-title-duration{
		text-align: center;
		font-size: 20px;

	}

	.list-job-desc{
		font-size: 15px;
	}

	.footer{
		background: #fff;
		height: 50px;
		padding: 0px 0px 50px 0px;
		text-align: center;
	}

	.contact-page{
		background: #eaeaea;
		padding: 50px 50px 50px 50px;
		margin-bottom: 50px;
	}

	.mail-contact:hover{
		color: blue;
	}

	.mail-contact{
		width: 100px;
		height: 100px;
		margin-top: 50px;
		margin-bottom: 20px;
		margin-right: 50px;
		margin-left: 50px;
	}

	.contact:hover{
		background: #fff;
		width: 250px;
		height: 250px;
		transition: 0.3s;
		cursor: pointer;
	}

	.txt-contact{
		margin-top: 50px;
		text-align: center;
		font-size: 14px;
	}
}

